<div class="col-lg-4 col-sm-12 table-details-div">
<h1>Tanks</h1>
<table class="table">
    <thead>
        <tr>
            <th style="width: 100px;" scope="col">Name</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Info</th>
            <td>
                <div class="edit">
                    <a routerLink="/devices-details">
                        <button class="myDetailsButton">
                            Details
                        </button>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Info</th>
            <td>
                <div class="edit">
                    <a routerLink="/devices-details">
                        <button class="myDetailsButton">
                            Details
                        </button>
                    </a>
                </div>
            </td>

        </tr>
        <tr>
            <th scope="row">Info</th>
            <td>
                <div class="edit">
                    <a routerLink="/devices-details">
                        <button class="myDetailsButton">
                            Details
                        </button>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>